extends layout

block content
  h1 Login
  form(action='/auth/login', method='post')
    div
      label(for='email') Email:
      input(type='email', name='email', required=true)
    div
      label(for='password') Password:
      input(type='password', name='password', required=true)
    div
      button(type='submit') Login
