extends layout

block content
  h1 Register
  form(action='/auth/register', method='post')
    div
      label(for='name') Name:
      input(type='text', name='name', required=true)
    div
      label(for='email') Email:
      input(type='email', name='email', required=true)
    div
      label(for='password') Password:
      input(type='password', name='password', required=true)
    div
      button(type='submit') Register
